<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="DjangoHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\PROGRA~1\Python314\python.exe|C:\PROGRA~1\Python314\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="D:\www\integra_banescor" />
    <add key="WSGI_HANDLER" value="integra_banescor.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="integra_banescor.settings" />
  </appSettings>
</configuration>