{% extends 'core/layout.html' %}
{% block title %}Lista Estagiarios{% endblock %}

{% block breadcrumb %}
    <span style="font-size: 1rem; font-weight: normal;">
        <a href="{% url 'home' %}" class="text-primary text-decoration-none">Home</a> 
        <span class="text-primary text-decoration-none">/</span> 
        <span class="text-primary text-decoration-none">Administração</span> 
        <span class="text-primary text-decoration-none">/</span> 
        <a href="{% url 'estagiarios' %}" class="text-primary text-decoration-none">Estagiarios</a> 
        <span class="text-primary text-decoration-none">/</span> 
        <a href="{% url 'lista_estagiarios' %}" class="text-primary text-decoration-none">Lista estagiarios</a> 
    </span>
{% endblock %}


{% block content %}
<div class="row justify-content-center mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">

        <h4 class="m-0"><i class="fa-solid fa-graduation-cap"></i> Estagiarios</h4>

        <div>
            <button class="btn btn-success me-1" onclick="exportarCSVestagiario()"><i class="fas fa-file-csv"></i> Exportar</button>
        </div>

    </div>
</div>
 
<div class="tabela-container">
    <table class="table table-striped table-hover mb-0" id="tabela-colaboradores" style="width:100%; font-size: 0.9rem;">
        <thead class="table-light">
            <tr>
                <th class="text-center">Matrícula</th>
                <th class="text-start">Colaborador</th>
                <th class="text-center">Data de inicio</th>
                <th class="text-center">Data de Fim</th>
                <th class="text-center">Agência (CID)</th>
                <th class="text-center">Inativo</th>
                <th class="text-center">Atualizado Em</th>
            </tr>
        </thead>
        <tbody>
            {% for c in estagiarios_filtrados %}
            <tr>
                <td class="text-center">{{ c.matricula|default:'-' }}</td>
                <td class="text-start">{{ c.colaborador }}</td>
                <td class="text-center">{{ c.data_inicio_emprego|date:'d/m/Y'|default:'-'}}</td>
                <td class="text-center">{{ c.data_fim_emprego|date:'d/m/Y'|default:'-'}}</td>
                <td class="text-center">{{ c.agencia.cid_agencia|default:'-' }}</td>
                <td class="text-center">{{ c.inativo|yesno:'Sim,Não' }}</td>
                <td class="text-center">{{ c.atualizado_em|date:'d/m/Y H:i' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() { 
        iniciarTabelaExcel('tabela-colaboradores'); 
    });

    function exportarCSVestagiario() {
        var table = $('#tabela-colaboradores').DataTable();
        
        var data = table.rows({ search: 'applied' }).data().toArray();
        
        var csvContent = "\uFEFF";
        var headers = [];

        $('#tabela-colaboradores thead th').each(function() {
             var txt = $(this).text().trim();
             if(txt && txt !== "Ações") {
                 headers.push('"' + txt + '"');
             }
        });
        csvContent += headers.join(";") + "\n";

        data.forEach(function(row) {
            var rowData = [];
            for (var i = 0; i < row.length; i++) { 
                var cleanText = row[i] ? row[i].toString().replace(/<[^>]+>/g, '').trim().replace(/"/g, '""') : "";
                
                rowData.push('="' + cleanText + '"');
            }
            csvContent += rowData.join(";") + "\n";
        });

        var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
        var link = document.createElement("a");
        var nomeArquivo = "estagiarios" + ".csv";
        
        link.href = URL.createObjectURL(blob);
        link.download = nomeArquivo;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);

        registrarAuditoria("Exportou CSV",  nomeArquivo);
    }
</script>
{% endblock %}