{% extends 'core/layout.html' %}

{% block title %}Início - Integra Banescor{% endblock %}

{% block breadcrumb %}
    <span style="font-size: 1rem; font-weight: normal;">
        <span class="text-primary text-decoration-none">Home</span>
    </span>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="text-center">
        <h1 class="display-4 fw-bold text-secondary">Bem-vindo ao Integra Banescor</h1>
        <p class="lead text-muted">Selecione uma opção no menu lateral para começar.</p>
    </div>
</div>
{% endblock %}