{% extends 'core/layout.html' %}

{% block title %}Processamentos - Em Breve{% endblock %}

{% block breadcrumb %}
    <span style="font-size: 1rem; font-weight: normal;">
        <a href="{% url 'home' %}" class="text-primary text-decoration-none">Financeiro</a> 
        <span class="text-primary text-decoration-none">/</span> 
        <a href="{% url 'financeiro_processamentos' %}" class="text-primary text-decoration-none">Processamentos</a> 
    </span>
{% endblock %}

{% block content %}

<div class="container-fluid pt-3">
    <div class="row mb-4">
        <div class="col-12">
            <h4 class="text-secondary border-bottom pb-2"><i class="fas fa-cogs text-success"></i> Processamentos</h4>
            <p class="text-muted">Selecione um produto a baixo para processar.</p>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <a href="{% url 'financeiro_habitacional' %}" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100 card-hover" style="border-top: 4px solid #198754; cursor: pointer;">
                <div class="card-body text-center d-flex flex-column justify-content-center align-items-center py-5">
                    <i class="fa-solid fa-wallet fa-3x mb-3" style="color: #198754;"></i>
                    <h5 class="card-title text-dark fw-bold mb-0">Habitacional</h5>
                </div>
            </div>
        </a>
    </div>
    
</div>
{% endblock %}